* {
    margin: 0;
    padding: 0;
}

body {
    font-family: tahoma;
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;

    min-width: 1500px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Encabezado*/
header {
    height: 400px;
    padding: 10px 20px;
    display: flex;
    background-image: url(../img/Banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
}

.logo img {
    width: 100px;
}

.imagenMov {
    width: 230px;
    height: 260px;
    background-image: url(../img/Guerrero_con_Arco.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    top: 20%;
    left: 73%;

    transition: left 1s;
}

.imagenMov:hover {
    left: 80%;
}

.abrir {
    display: none;
    position: absolute;
}

/*menú*/
nav {
    font-size: 11px;
    margin-left: 12%;
    margin-top: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav a:hover {
    color: #f4d820;
}

nav .activo,
.breadcrumb .activo {
    color: #6a91d9;
}

nav a.activo:hover {
    color: #e19232;
}

/*Submenú*/
nav ul ul {
    display: none;
    padding: 5px 0;
}

nav ul li:hover ul {
    display: block;
    padding: 5px 0;
}

nav ul ul li {
    padding: 3px 0;
}



/*lupa - login*/
header .lupa {
    position: absolute;
    top: 7%;
    right: 220px;
}

header .login {
    position: absolute;
    top: 5%;
    right: 20px;

    background-image: url(../img/borde_boton_login.png);
    background-size: 100% 100%;
    width: 150px;
    height: 30px;
    padding-left: 19px;
    padding-top: 9px;

}

.ancla {
    width: 20px;
    position: fixed;
    bottom: 0px;
    right: 25px;
    color: red;
    display: none;
}

/*títulos*/
.titulo {
    position: absolute;
    top: 47%;
    left: 210px;

}

.breadcrumb {
    position: absolute;
    top: 57%;
    left: 210px;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    gap: 15px
}

/*linea azul*/
.linea {
    display: flex;
    gap: 6%;
}

.lineaClip1 {
    width: 47%;
    height: 50px;
    background-color: #6a91d9;
    clip-path: polygon(0px 0px, 100% 100%, 100% 100%, 0 100%);
}

.lineaClip2 {
    width: 47%;
    height: 50px;
    background-color: #6a91d9;
    clip-path: polygon(0px 100%, 100% 0, 100% 100%, 0 100%);
}


/*Main*/
main {
    position: relative;

    margin: 5px 0 0px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #242323;


    min-width: 1000px;
}

/*Primera Parte*/
.primero {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    line-height: 28px;
}

.titulo2 {
    font-size: 12px;
    color: #6a91d9;
}

.titulo2 span {
    letter-spacing: 5px;
}


.lineaClip3 {
    width: 100px;
    height: 7px;
    margin: 15px auto;
    background-color: #6ad37e;
    clip-path: polygon(0 0, 100% 0%, 90px 100%, 10px 100%);
    /*clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);*/
    /*Clip Normal*/
}

/*Segunda Parte*/
.segundo {
    padding-bottom: 40px;
    display: flex;
    gap: 1%;
}

.cuadro1 {
    width: 30%;
    height: 300px;
    background-color: #3d3c3c;
    border-radius: 10px;
    padding-top: 50px;
    position: relative;
    margin: 9px;

    transition: margin-top 1s;
}

.cuadro1:hover {
    margin-top: 35px;
}


.esquina {
    background-color: #6a91d9;
    width: 45%;
    height: 40px;
    border-radius: 10px 0 35px 0;
    text-align: center;
    align-content: center;
    color: #000000;
    font-weight: bold;

    position: absolute;
    top: 0;
    left: 0;
}

.titulo3 {
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    text-shadow: 0px 5px 20px #ffffff;
    padding-bottom: 15px;
}

.titulo3 span {
    font-size: 18px;
    color: #6a91d9;
    text-shadow: 0px 5px 30px #bcc5d5;
}

.caja1 {
    background-color: #000000;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px 10px 10px;
    text-align: center;
    border: 1px solid #565555;
}

.caja2 {
    margin-top: 20px;
    padding-left: 20px;
}

.caja2 div {
    display: flex;
    margin-bottom: 10px;
}

.caja2 .n1 {
    color: #ccc;
    margin-top: 10px;
    margin-left: 10px;
}

.caja2 .n2 {
    color: #6a91d9;
    margin-top: 10px;
    margin-left: 30px;
}


/*Tercera Parte ----- bloque de Torneos*/
.tercero {
    margin-top: 10px;
    position: relative;
}

.terceroTitulo1 {
    margin: 8px 0;
    padding-top: 10px;
}

.terceroTitulo2 {
    position: absolute;
    right: 5px;
}

.cuadro2 {
    background-image: url(../img/DiseñoBorde.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    justify-content: center;

    height: 150px;
    display: flex;
    margin: 20px 0;
    margin-top: 40px;
}

/*efecto hover*/
.cuadro2:hover {
    box-shadow: 0 0px 25px 5px #c56ae1;
}

.cuadro2:hover span.efectoHover {
    color: #d2eb46;
}

.cuadro2:hover span.efectoHover b {
    color: #d2eb46;
    border: 1px solid #d2eb46;
}

/*fin hover*/
.cuadro2 article {
    margin-top: 50px;
}

.cuadro2 span {
    color: #6a91d9;
}

.viveahora {
    background-color: #363434;
    margin-left: 55px;
    padding: 7px;
    width: 140px;
    text-align: center;
}

.viveahora b {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 1px;
}

.lineaBlanca {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(0, 0, 0, 1) 100%);
    width: 3px;
    height: 45px;
    margin: 0 35px;
}




/*Pie de Página*/
footer {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #242323;
    display: flex;
}

footer ul {
    list-style: none;
}

footer p {
    margin: 10px 0
}

.footer1 {
    width: 25%;
    margin-right: 60px;
}

.footer2,
.footer3 {
    width: 20%;
    padding-top: 25px;
    margin-right: 35px;
}

.footer2 li,
.footer3 li {
    padding: 5px 0;
}

.footer4 {
    width: 30%;
    padding-top: 25px;
}

.footer4 input {
    width: 145px;
    height: 27px;
    background-color: #000000;
    font-size: 11px;
}

.footer4 button {
    width: 25px;
    height: 30px;
    background-color: #6a91d9;
}

.footer4 button:hover {
    background-color: #dbea37;
}









/*
animation: ani 4s 2 alternate;  
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/